name: 'Terraform Apply'

on:
  push:
    branches:
      - main

jobs:
  terraform:
    name: 'Terraform Plan and Apply'
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v2

      - name: 'Set up Terraform'
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.4.0
          
      - name: 'Configure AWS credentials'
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1  # регион AWS

      - name: 'Initialize Terraform'
        run: terraform init
        env:
          TF_LOG: DEBUG

      - name: 'Terraform Plan'
        run: terraform plan
        env:
          TF_LOG: DEBUG

      - name: 'Terraform Apply'
        run: terraform apply -auto-approve
        env:
          TF_LOG: DEBUG
